@model Hospital_Management.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details about @Model.Name</h2>
<hr/>
<div class="Box">
    <div class="ImgBx">
        <img src="@Model.Image" alt="" width="200" height="200"/>
    </div>
    <div class="content">
        @Model.LongDescription
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index","Home", "",new{@class="btn btn-primary"})
</p>
