
@{
    ViewBag.Title = "BookingDetails";
}

<h2>Booking Details</h2>
@model Hospital_Management.Models.Patient

<h3>You have submit successfully</h3>

<p>
    @Html.ActionLink("Back", 
        "Index", "Home",
        null, new { @class = "btn btn-primary" })
</p>