
@{
    ViewBag.Title = "ResultDetails";
}
@model Hospital_Management.Models.Patient
<h1>@Model.UserId</h1>
@if (Model.Result == null)
{
    <p>there is no result</p>
}
else
{
    <h4>Your Result is  @Model.Result</h4> 
}
<div>
    @Html.ActionLink("Back to List", "Index", "Home", "", new { @class = "btn btn-primary" })
</div>